.detail-page {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.detail-page__id {
  background: white;

  padding: 1rem;

  border-left: 5px solid #003366;

  border-radius: 10px;
}

.btn-back {
  width: fit-content;

  text-decoration: none;

  border: 2px solid #003366;

  padding: 1rem 1.5rem;

  border-radius: 10px;

  color: #003366;

  transition: 0.2s;
}

.btn-back:hover {
  background: #003366;
  color: white;
}
