<footer
  class="footer sm:footer-horizontal mt-10 border border-base-200 bg-base-300 p-10 text-base-content shadow-sm"
>

  <!-- BLOQUE 1 -->
  <nav>

    <h6 class="footer-title">
      PPW Angular 21
    </h6>

    <a class="link link-hover">
      Docente: Pablo Torres
    </a>

    <a class="link link-hover">
      Angular 21
    </a>

    <a class="link link-hover">
      DaisyUI
    </a>

  </nav>

  <!-- BLOQUE 2 -->
  <nav>

    <h6 class="footer-title">
      Navegación
    </h6>

    <a
      class="link link-hover"
      routerLink="/"
    >
      Inicio
    </a>

    <a
      class="link link-hover"
      routerLink="/students"
    >
      Estudiantes
    </a>

    <a
      class="link link-hover"
      routerLink="/layouts"
    >
      Layouts
    </a>

    <a
      class="link link-hover"
      routerLink="/ui-components"
    >
      Componentes
    </a>

  </nav>

  <!-- BLOQUE 3 -->
  <nav>

    <h6 class="footer-title">
      Módulo
    </h6>

    <a class="link link-hover">
      Actualizado: 14/05/2026
    </a>

    <a class="link link-hover">
      Estudiantes: 32
    </a>

    <a class="link link-hover">
      Progreso: 65%
    </a>

  </nav>

</footer>